
<script>
    $(document).ready (function(){
        initPoints ();
        $('#chatterdiv').load('/2.html');
        
        
        $(window).resize(function() {
            if ($("#jdialog").dialog( "isOpen" )) {
                $("#jdialog").dialog("option", "position", "center");
                var cw = $("#jdialog").dialog( "option", "width" );
                var tw = getTargetWidth();
                if (cw != tw) 
                    $("#jdialog").dialog( "option", "width", tw );
            }
                
        });
        
        <% if  (typeof current_index !== 'undefined') { %>
            lasteventprocessed = <%= current_index %>
            //alert ('setting last event processed ' + lasteventprocessed);
        <% } %>
        
        poll();
    });
                            
</script>


<div id="jdialog">
    <div id="eventArea">
		<div id="event-container"></div>
	</div>
</div>


<!-- LEFT PAGE -->
<div id="home-left" >
    
    <div style="float: left; margin-right: 5px;">
    
         <!-- ME and MY POINTS -->
        <div class="myboarder">
            <!-- Header -->
            <div>
            	<div style="float:left; margin-top: 6px; margin-bottom: 6px;"><h3><span id="myuserName"><%= userdata.fullname %></span></h3><div id="userOrg1" style="color: #EBA555;"><%= userdata.outlet.name %></div></div>
            	<div id="orgImage" style="float: right;margin: 5px;"><img src="<%= userdata.outlet.picture_url %>" width="55"/></div>
            	<div style="clear: both;"></div>
            </div>
            <!-- Content -->
            <div class="myboarder-inside" style="text-align: center; height: 120px; background: white; border-radius: 4px; border: 2px;">
            	<div id="userImage" style="float:left; text-align: center; width: 50%;">
                    <img src="<%= userdata.picture_url %>" width="75" style="margin: 5px;"/>
                </div>
            	<div style="float:left; text-align: center; width: 45%; margin-top: -5px;">
            		<canvas id="points-guage" width="110" height="100"></canvas>
            	</div>
            	<div style="clear:both; color: black; font-weight:bold;" >My Points <span class="timer">0</span></div>
            </div>
        </div>
    </div>
    
    <div style="float: left;">    
	    <!-- RECOMMENDED -->
		<div class="myboarder">
			<!-- Header -->
            <div>
				<div style="float:left; margin-top: 6px; margin-bottom: 6px;"><h3>Recommended</h3></div>
				<div class="carousel" style="float: right; margin: 5px;">
					<ol id="carousel_items_items" class="carousel_itemList">
					</ol>
				</div>
				<div style="clear: both;"></div>
			</div>
		    <!-- Content -->
			<ul id="slider1" class="myboarder-inside" style="text-align: center; height: 80px; margin-top: 20px;">
                <li class="itemList" >
					<img src="/image/icons/knowledge-icon.gif" class="quizImage">
					<div style="font-weight: bold;" class="itemName">The Basics</div> 
					<span class="itemDesc">Portal Training</span>
					<div style="float: right;">
						<div style="margin: 2px; height: 10px; width: 60px; overflow: hidden; z-index: 1; position: relative;" class="knowRating" id="whydoineedaid"><div class="jRatingColor"></div><div class="jRatingAverage" style="width: 40px; top: -10px;"></div><div class="jStar" style="width: 60px; height: 10px; top: -20px; background: url(&quot;/image/jrating/small.png&quot;) repeat-x scroll 0% 0% transparent;"></div></div>
						<div style="margin: 2px;">(4234 ratings)</div>
					</div>
					<br>
					<div class="itemResults">HTML5 Video Stream</div>	
                </li>
                    							
                <li class="itemList" >
					<img src="/image/icons/WP7.jpg" class="quizImage">
					<div style="font-weight: bold;" class="itemName">Windows Phone 7</div> 
					<span class="itemDesc">Presenting Training</span>
					<div style="float: right;">
						<div style="margin: 2px; height: 10px; width: 60px; overflow: hidden; z-index: 1; position: relative;" class="knowRating" id="whydoineedaid"><div class="jRatingColor"></div><div class="jRatingAverage" style="width: 40px; top: -10px;"></div><div class="jStar" style="width: 60px; height: 10px; top: -20px; background: url(&quot;/image/jrating/small.png&quot;) repeat-x scroll 0% 0% transparent;"></div></div>
						<div style="margin: 2px;">(4234 ratings)</div>
					</div>
					<br>
					<div class="itemResults">HTML5 Video Stream</div>
                </li>							
			</ul>
		</div>
		<div style="clear: both;"></div>
	</div>
    
	<div style="clear: both;"></div>
    
    <!-- MY TEAM -->
	<div class="myboarder" style="margin-top: 10px;">
		<!-- Header -->
        <div>
			<div style="float:left; margin-top: 6px; margin-bottom: 6px;"><h3>My Team</h3></div>
			<div id="userOrg2" style="float: right;margin-top: 15px; margin-bottom: 5px; color: #EBA555;"><%= userdata.outlet.name %></div>
			<div style="clear: both;"></div>
		</div>
        <!-- Content -->
        <div id="chatterdiv" class="myboarder-inside" style="background: white;  "></div>
        <div style="clear: both;"></div>
	</div>
    

</div> <!-- #home-left -->
	
<!-- RIGHT PAGE -->
<div id="home-right">

    <!-- KNOWLEDGE -->
     <div class="myboarder">
        <!-- Header -->
		<div>
			<div style="float:left; margin-top: 6px; margin-bottom: 6px;"><h3>Knowledge</h3></div>
			<div style="float: right; margin-top: 5px; margin-bottom: 5px;"><input type="text" placeholder="search knowledge" class="modal-text-input" name="username" value=""></div>
			<div style="clear: both;"></div>
		</div>
		<!-- Content -->
		<ul id="knowledgeList" class="myboarder-inside" style="background: white; height: 4in; ">
			<li id="knowledge-template"  style="display : none; " class="itemList">
				<img class="quizImage" style="width: 50px;" src=""/>
				<div class="itemName" style="font-weight: bold;"></div> 
				<span class="itemDesc"></span>
				<div style="float: right;">
					<div id="whydoineedaid" class="knowRating" style="margin: 2px;"></div>
					<div class="itemRate" style="margin: 2px;">(4234 ratings)</div>
				</div>
				<br/>
				<div class="itemResults"></div>
			</li>
		</ul>
	</div>

    
    <!-- QUIZ -->
    <div id="quiz-container" class="myboarder" style="margin-top: 10px;">
    	<!-- Header -->
        <div>
    		<div style="float:left; margin-top: 6px; margin-bottom: 6px;"><h3>Quiz</h3></div>
    		<div style="float: right;margin-top: 15px; margin-bottom: 5px; color: #EBA555;">quizzes appear when something important occures</div>
    		<div style="clear: both;"></div>
    	</div>
        <!-- Content -->
        <ul id="quizList" class="myboarder-inside quizList_3in_2col">
        	<li id="quiz-template" style="display : none;" class="itemList">
        		<img class="quizImage" src="/image/icons/quiz_icon.gif"/>
        		
        		<div class="quizPass" style="display : none;">
        			<img style="margin: 10px;" height="40px;" src="/image/pass.gif"></img>
        		</div>
        		<div class="itemName" style="font-weight: bold;"></div> 
        		<span class="itemDesc"></span>
        		<br/>
        		<div class="itemResults"></div>
        	</li>
        </ul>
    </div>
</div> <!-- #home-right -->
